.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

form>div {
    display: flex;
    flex-direction: column;
}

form>div>input {
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 1.5px solid var(--third-color);
}

form>div>input:-webkit-autofill {
    background-color: #f3f5f0 !important;
    box-shadow: 0 0 0px 1000px #f3f5f0 inset !important;
    border: 1.5px solid var(--third-color) !important;
}

form>div>input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

form>div>label {
    margin-bottom: 5px;
}

form>button {
    padding: 10px;
    font-size: 18px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    color: white;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid var(--secondary-color);
}

th,
td {
    padding: 10px;
}

#products-table th,
#products-table td {
    text-align: center;
}

table tr td:first-child a {
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
}

table tr td:first-child a:hover {
    background-color: var(--third-color);
}