.border-bottom {
    border-bottom: 1px solid #ddd;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.cart-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.cart-items {
    margin-bottom: 20px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.product-card img {
    margin-right: 15px;
    cursor: pointer;
}

.product-details {
    display: flex;
}

.product-details a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.product-details a:hover {
    background-color: #B2C2A1;
    padding: 2px 4px;
    border-radius: 4px;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-control button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
}

.quantity-control button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.product-price {
    margin-right: 15px;
    font-weight: bold;
}

.cart-total {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}