html,
body {
    height: 100%;
    margin: 0;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.card-details {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
}

.image {
    flex: 1;
    margin-right: 20px;
}

.image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.info h2 {
    margin: 10px 0;
    font-weight: normal;
}

.info h4 {
    margin: 10px 0;
}

.notification {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.cart-icon {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -15px;
    right: -15px;
    background: red;
    color: var(--primary-color);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}